@model FacetedSearch.Web.Models.HomeViewModel
@using FacetedSearch.Web;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
<script src="@Url.Content("~/Scripts/jquery-ui.facetedsearch.js")" type="text/javascript"></script>

<script type="text/javascript">
$(function() {
    @(Html.FacetedSearchJsInit("#container", Model.SearchOptions, new {url = Url.Action("Search")}))
});
</script>

}

<h2>Index</h2>

<div id="container">@Html.FacetedSearch(Model.SearchOptions)</div>

<div id="result"></div>


